@{
    ViewBag.Title = "Que es...";
}
<h2>... Hexacta Labs?</h2>

<p>
    Es una iniciativa de Hexacta para brindar un aporte a la comunidad academica. A los estudiantes de sistemas les damos la posibilidad de acercarse a la industria del desarrollo de software,
    mediante charlas técnicas en ambientes universitarios, cursos gratuitos en nuestras oficinas, y otras actividades que les sirvan para complementar la formación adquirida durante la carrera.
    <br />
    <br />
    Los cursos se orientan a estudiantes de sistemas de 4to y 5to año que aún no hayan vivido su primera experiencia real de trabajo.
    <br />
    <br />
    El objetivo es ayudarlos a insertarse en el mercado laboral, ofreciendo una capacitación teórico-práctica donde puedan aprender y aplicar conocimientos útiles para encontrar su primer empleo.
    Los estudiantes serán orientados por profesionales de recursos humanos en la confección de un CV, recomendaciones para entrevistas laborales y planificación de carrera. Es una oportunidad para conocer de cerca a potenciales candidatos para trabajar con nosotros.
</p>

