@{
    ViewBag.Title = "Contacto";
}
<h3>
    <b>
        Nuestras Oficinas
    </b>
</h3>

<address>
    <b>Buenos Aires</b><br />
    Clay 2954<br />
    CABA | Bs. As.<br />
    Tel: (+54 11) 5299 5400<br />
</address>
<address>
    <b>Bahía Blanca</b><br />
    Belgrano 133 - Piso 2 Of. 7<br />
    Bahía Blanca | Bs. As.<br />
    Tel : (+54 291) 453 1074<br />
</address>
<address>
    <b>Paraná</b><br />
    San Martín 902 1º P - Of. 6<br />
    Paraná | Entre Ríos<br />
    Tel : (+54 343) 423 6141<br />
</address>
<address>
    <b>La Plata</b><br />
    Calle 58 Nº 480<br />
    La Plata | Bs. As.<br />
</address>
<address>
    <b>Montevideo</b><br />
    Roque Graseras 857 11300<br />
    Montevideo | Uruguay<br />
</address>

<h3>
    <b>
        Emails
    </b>
</h3>

<address>
    <strong>RrHh:</strong>   <a href="mailto:rrhh@hexacta.com">RecursosHumanos@Hexacta.com</a><br />
</address>