@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Selenium</h1>
    <p class="lead">
        Selenium automates browsers. That's it! What you do with that power is entirely up to you. Primarily, it is for automating web applications for testing purposes,
        but is certainly not limited to just that. Boring web-based administration tasks can (and should!) also be automated as well.
    </p>
    <p class="lead">
        Selenium has the support of some of the largest browser vendors who have taken (or are taking) steps to make Selenium a native part of their browser.
        It is also the core technology in countless other browser automation tools, APIs and frameworks.
    </p>
    <p><a href="http://www.seleniumhq.org/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Test Automation for Web Applications</h2>
        <p>
            Test automation has specific advantages for improving the long-term efficiency of a software team’s testing processes. Test automation supports:
        </p>
        <ul>
            <li>
                Frequent regression testing
            </li>
            <li>
                Rapid feedback to developers
            </li>
            <li>
                Virtually unlimited iterations of test case execution
            </li>
            <li>
                Support for Agile and extreme development methodologies
            </li>
            <li>
                Disciplined documentation of test cases
            </li>
            <li>
                Customized defect reporting
            </li>
            <li>
                Finding defects missed by manual testing
            </li>
        </ul>
        <p><a class="btn btn-default" href="http://www.seleniumhq.org/docs/01_introducing_selenium.jsp#test-automation-for-web-applications">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>To Automate or Not to Automate?</h2>
        <p>
            It is not always advantageous to automate test cases. There are times when manual testing may be more appropriate. For instance, if the application’s user interface will
            change considerably in the near future, then any automation might need to be rewritten anyway. Also, sometimes there simply is not enough time to build test automation.
            For the short term, manual testing may be more effective. If an application has a very tight deadline, there is currently no test automation available, and it’s imperative that the
            testing get done within that time frame, then manual testing is the best solution.
        </p>
        <p><a class="btn btn-default" href="http://www.seleniumhq.org/docs/01_introducing_selenium.jsp#to-automate-or-not-to-automate">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Selenium’s Tool Suite</h2>
        <p>
            Selenium is composed of multiple software tools. Each has a specific role.
        </p>
        <ul>
            <li>
                <p>
                    <b>
                        Selenium 2 (aka. Selenium WebDriver):
                    </b>
                </p>
            </li>
            <li>
                <p>
                    <b>
                        Selenium 1 (aka. Selenium RC or Remote Control):
                    </b>
                </p>
            </li>
            <li>
                <p>
                    <b>
                        Selenium IDE
                    </b>
                </p>
            </li>
            <li>
                <p>
                    <b>
                        Selenium-Grid
                    </b>
                </p>
            </li>
        </ul>

        <p><a class="btn btn-default" href="http://www.seleniumhq.org/docs/01_introducing_selenium.jsp#selenium-s-tool-suite">Learn more &raquo;</a></p>
    </div>
</div>